{{ define "fragments/head_scripts" }}
<!-- Alpine JS -->
<script defer src="/static/bundle/alpinejs/collapse/collapse.min.js"></script>
<script src="/static/bundle/alpinejs/alpine.min.js" defer></script>

<!-- Theme Toggler & Services Initializers -->
<!-- FIX: VOLVER A reactivar  -->
<!-- <script src="/static/js/theme_bootstrap.js"></script> -->
<!-- <script src="/static/js/theme_toggle.js"></script> -->
<script src="/static/js/worker_initializer.js"></script>
<script src="/static/js/versions_banner.js"></script>

<!-- Stylesheets -->
<link rel="stylesheet" href="/static/css/output.css" />
{{ end }}
