{{ define "content" }}
<main>
    <form 
        hx-post="/password-recovery"
        hx-swap="innerHTML"
        method="post"
        hx-target="#errors">
        <section>
        <label for="email">Email</label>
        <input
            type="email"
            id="email"
            name="email"
            required
            aria-describedby="email-error"
            placeholder="Correo electronico"
        />
        </section>
        <button type="submit">Recuperar</button>
    </form>

    <div id="errors"> 
    </div>

    <section>
        Ingrese el correo electrónico con el cual se registró. Recibirá un <strong>link</strong> de
        recuperación que le permitirá crear una nueva contraseña.
    </section>
</main>
{{ end }}
