{{ define "content" }}
<main>
  <form
    hx-post="/password-recovery/{{ .Token }}"
    hx-target="#errors"
    hx-swap="innerHTML"
    method="post">
    <section>
      <label>Nueva contraseña</label>
      <input type="password" name="password" required />
    </section>
    <section>
      <label>Confirmar contraseña</label>
      <input type="password" name="confirm_password" required />
    </section>
    <button type="submit">Actualizar contraseña</button>
  </form>
  <div id="errors"></div>
</main>
{{ end }}
