{{define "content"}}
<main>
    {{if .Error}}
    <div class="alert alert-error">
        {{.Error}}
    </div>
    {{end}}

    <h2>Crea un nuevo horario</h2>

    <section>
        <form hx-post="/schedule/create" hx-target="#main" hx-swap="innerHTML">
            <section>
                <label for="description">
                    <h3>Descripción</h3>
                </label>
                <input type="text"
                       id="description"
                       name="description"
                       placeholder="Ej: Horario primer semestre 2025"
                       required>

                <label for="careerId">
                    <h3>Carrera</h3>
                </label>
                <select id="careerId" name="careerId" required>
                    <option disabled selected value="">Selecciona una carrera</option>
                    {{range .Careers}}
                    <option value="{{.ID}}">{{.Name}}</option>
                    {{end}}
                </select>
            </section>

            <article>
                <label>Versión de Excel</label>
                <div>
                    <span>
                        <strong>Archivo:</strong>
                        {{.SheetVersion.FileName}}
                    </span>
                    <br>
                    <span>
                        <strong>Procesado el:</strong>
                        {{if .SheetVersion.ParsedAt}}
                            {{.SheetVersion.ParsedAt}}
                        {{else}}
                            Fecha no disponible
                        {{end}}
                    </span>
                    <br>
                    <span>
                        <strong>Descarga:</strong>
                        <a href="{{.SheetVersion.URL}}" target="_blank" rel="noopener">
                            {{.SheetVersion.URL}}
                        </a>
                    </span>
                </div>
            </article>

            <footer style="margin-top: var(--space-xl)">
                <button type="submit">Continuar</button>
            </footer>
        </form>
    </section>
</main>
{{end}}
