# Environment variables fall into three categories:
#
# 1. Optional variables with defaults.
#    These have sensible default values and usually do not need to be set,
#    unless production requirements differ from the defaults.
#
# 2. Production-critical variables with defaults (!IMPORTANT).
#    These variables provide defaults for development convenience, but MUST
#    be explicitly set in production environments. Defaults exist only to
#    allow local or disposable setups.
#
# 3. Required variables (!REQUIRED).
#    These include secrets, signatures, and credentials for protected
#    endpoints. The application will refuse to start if any of these are
#    missing or invalid, to prevent accidental exposure of sensitive data
#    in production environments.
#
# Comments next to each variable indicate its category and production relevance.

APP_ENV=prod # !IMPORTANT on production
SERVER_ADDR=:8080 # default ":8080"

DATABASE_URL=/var/lib/poliplanner/poliplanner.db # defaults to "./poliplanner.db" but !IMPORTANT on production
APP_BASE_DIR=/opt/poliplanner # Default is CWD, !IMPORTANT on production
DOWNLOADS_DIR=/var/lib/poliplanner/downloads # Default to /tmp/poliplanner

GOOGLE_API_KEY=your-real-key # !IMPORTANT on production but not required

VERBOSE_LOGS=false # Default depends on APP_ENV, on production is false
SECURE_HTTP=true # Default depends on APP_ENV, on production is true

UPDATE_KEY=very-strong-secret # Excel update enpoint password. !REQUIRED
JWT_KEY=very-strong-signature-key # Key to sign and generate JWTs. !REQUIRED

EMAIL_API_KEY=your-real-key # !IMPORTANT on production but not required
