{{ define "fragments/head_scripts" }}
  <!-- Theme Toggler -->
  <script src="/static/js/theme_bootstrap.js?2"></script>
  <script src="/static/js/theme_toggle.js?2" defer></script>

  <!-- Alpine JS -->
  <script defer src="/static/vendor/alpinejs/collapse/collapse.min.js"></script>
  <script src="/static/vendor/alpinejs/alpine.min.js" defer></script>

  <!-- Services Initializers -->
  <script src="/static/js/worker_initializer.js"></script>
  <script src="/static/js/versions_banner.js"></script>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/static/css/output.css?6" />
{{ end }}
