{{ define "fragments/seo_meta" }}
<!-- Verificación de Google Search Console -->
<meta
    name="google-site-verification"
    content="tlZxTQhxIhdMAsAKUgJFkHkyXs1KhUrHMIFEXLTVuIs" />

<!-- SEO Global Base -->
<meta name="robots" content="index, follow" />
<meta name="author" content="PoliPlanner" />
<meta property="og:site_name" content="PoliPlanner" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="es_ES" />

<!-- Favicons y Manifiesto -->
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="manifest" href="/static/site.webmanifest" />
{{ end }}
