{{define "content"}}
<div class="md:ml-10">
    <div class="max-w-3xl">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900">
            Herramientas académicas
        </h1>
        <p class="mt-4 text-md text-gray-600 leading-relaxed">
            Aquí encontrarás un conjunto de herramientas desarrolladas por y para estudiantes,
            pensadas para facilitar la vida académica y el acceso a información relevante.
            Todas están disponibles sin necesidad de iniciar sesion.
        </p>
    </div>

<section class="mt-12 grid gap-4 sm:gap-8 sm:grid-cols-2 lg:grid-cols-3">

    <!-- Card 1 -->
    <a href="/tools/calculator"
       class="group block bg-white rounded-sm border border-gray-200 shadow-sm hover:shadow-lg transition duration-200 overflow-hidden">

        <!-- Contenedor centrado -->
        <div class="aspect-[6/3] max-h-40 md:max-h-48 overflow-hidden bg-gray-100 flex items-center justify-center">
            <img src="/static/images/calculator_1.png"
                 alt="Foto de calculadora"
                 class="max-h-full max-w-full object-cover group-hover:scale-105 transition duration-300">
        </div>

        <div class="p-3 md:p-5">
            <h3 class="text-lg md:text-xl font-semibold text-gray-900 group-hover:text-primary-600 transition">
                Calculadora de notas
            </h3>
            <p class="mt-2 text-sm text-gray-600 leading-relaxed">
                Calcula la escala de notas para exámenes finales y determina cuántos puntos necesitas para aprobar la materia.
            </p>
        </div>
    </a>

    <!-- Card 2 -->
    <a href="/tools/interactive_graph"
       class="group block bg-white rounded-sm border border-gray-200 shadow-sm hover:shadow-lg transition duration-200 overflow-hidden">

        <!-- Contenedor centrado -->
        <div class="aspect-[6/3] max-h-40 md:max-h-48 overflow-hidden bg-gray-100 flex items-center justify-center">
            <img src="/static/images/graph_1.png"
                 alt="Foto de herramienta de grafos"
                 class="max-h-full max-w-full object-cover group-hover:scale-105 transition duration-300">
        </div>

        <div class="p-3 md:p-5">
            <h3 class="text-lg md:text-xl font-semibold text-gray-900 group-hover:text-primary-600 transition">
                Mallas curriculares interactivas
            </h3>
            <p class="mt-2 text-sm text-gray-600 leading-relaxed">
                Explora materias por semestre, correlatividades y créditos mediante un grafo interactivo.
            </p>
        </div>
    </a>

</section>

</div>
{{end}}
