{{ define "custom_head" }}
  <title>Cálculo de Notas</title>
{{ end }}
{{ define "content" }}
  <link rel="stylesheet" href="/static/css/guides_styles.css" />
  <div class="guide_article">
    <h1>Sobre este proyecto</h1>
    <h2>¿Como nació?</h2>
    <p>
        Este proyecto nació de una necesidad bastante simple: tener a mano información clara y
        herramientas prácticas para el día a día en la universidad.
        </p>
        Al principio la idea era únicamente mejorar el antiguo PoliPlanner, hacerlo más
        ordenado, más útil y adaptarlo a las necesidades actuales. Era, en esencia, una
        evolución natural de una herramienta que ya se venía usando.

    <p>
        Con el tiempo, la idea dejó de ser solo actualizar una herramienta y paso entonces a
        tener el objetivo de construir una plataforma más completa, pensada desde la
        experiencia de ser alumno, donde además de organizar horarios se pudieran encontrar
        guías, consejos y mas herramientas simples pero poderosas que ayuden a resolver
        situaciones comunes que la universidad no cubre.
    </p>
    <p>
        Las herramientas que existieron antes terminaron abandonadas o dejaron de funcionar
        cuando sus desarrolladores se fueron, en gran parte porque no eran de código abierto
        (repo: <a href="https://github.com/elias-gill/poliplanner2">elias-gill/poliplanner</a>) y
        todo dependía de una sola persona. Por eso este proyecto se plantea desde el inicio
        como <i>"open source"</i>, para que pueda seguir existiendo y mejorando incluso cuando
        sus creadores ya no estén.
    </p>
    <section>
        <h2>No solo una plataforma, también una iniciativa</h2> 
        <p> Este proyecto no se limita a ser una herramienta; también busca ser un impulso para
            que más alumnos se animen a crear sus propias soluciones. La <i>"Iniciativa
            PoliPlanner"</i> quiere fomentar que quienes tengan ideas puedan desarrollarlas,
            integrarlas entre sí y construir un ecosistema completo dentro de la universidad.
        </p> 
        <p> A veces las ganas están, pero solo falta un empujón. Por eso contamos con un <a
            href="https://chat.whatsapp.com/BcKLuzgtBGmGh9Jp9Qe714">grupo
            de WhatsApp</a> donde se busca visibilizar proyectos, ofrecer ayuda y consejos, y
            también orientar sobre cómo aportar a cada iniciativa si alguien quiere sumarse.
        </p>
        <h3>Inspirando nuevas ideas</h3>
        <p>
            La <i>Iniciativa PoliPlanner</i> busca que más estudiantes se animen a crear sus
            propias herramientas y, si quieren, integrarlas con esta plataforma para formar un
            ecosistema completo dentro de la universidad. La idea es que las ganas y las ideas
            de los alumnos no se queden solo en proyectos aislados, sino que puedan
            compartirse, mejorarse y ser útiles para todos.
        </p>
        <p>
            Las <strong>herramientas</strong> que ya se inspiraron en esta iniciativa:
            <ul> 
                <li><a href="https://www.polirank.org">PoliRank</a></li> 
            </ul>
            y sumando nuevas ideas y proyectos de estudiantes.
        </p>
    </section>
    <section>
      <h2>¿Cómo podés colaborar?</h2>
      <p>
        Todo tipo de sugerencias, ideas, quejas, reportes de errores o nuevas
        funciones son bienvenidas a través del repositorio de GitHub. También
        se aceptan Pull Requests si querés aportar código directamente.
      </p>
    </section>
    <section>
        <h2>Contacto</h2>
        <p>Si querés sugerir ideas, reportar errores o sumarte a la iniciativa, podés contactarnos a través de estos canales:</p>
        <ul class="contact-list">
            <li>
                <a href="https://github.com/elias-gill" target="_blank">
                    <i class="bi bi-github"></i> GitHub
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/poliplanner.web" target="_blank">
                    <i class="bi bi-instagram"></i> @poliplanner
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/elias.gill" target="_blank">
                    <i class="bi bi-instagram"></i> @elias.gill
                </a>
            </li>
        </ul>
    </section>
    <section class="autor">
      <h2>Desarrollado por</h2>
      <a href="https://github.com/elias-gill/" style="display: inline-block;">
        <img
          src="https://github.com/elias-gill.png"
          alt="Foto de perfil de GitHub"
          width="100" />
      </a>
      <p>Elias Gill</p>
    </section>
    <p>
      <a href="/guides/">Volver a Guías y Ayuda</a>
    </p>
    <style>
      .autor {
        text-align: center;
        margin: 2rem auto;
      }
    </style>
  </div>
{{ end }}
