{{define "custom_head"}}
<title>Registrarse - PoliPlanner</title>
{{end}}

{{define "content"}}
<main>
  <h2>Crear cuenta</h2>
  <section>
    <form id="signup-form" 
          hx-post="/signup" 
          hx-target="#messages" 
          hx-swap="innerHTML" 
          method="post">
      <section>
        <label>
          Nombre de usuario:
          <input type="text" style="text-transform: lowercase;" name="username" placeholder="Nombre de usuario" required autofocus>
        </label>
      </section>
      <section>
        <label>
          Correo electrónico:
          <input type="email" name="email" placeholder="Correo electrónico" required>
        </label>
      </section>
      <section>
        <label>
          Contraseña (mínimo 6 caracteres):
          <input type="password" name="password" placeholder="Contraseña" required>
        </label>
      </section>
      <button type="submit">Crear cuenta</button>
    </form>
    <div id="messages"></div>
    <p>
      ¿Ya tenés cuenta? <a href="/login">Iniciar sesión</a>
    </p>
  </section>
  <section>
    <h2>Consideraciones</h2>
    <ul>
      <li>Los nombres de usuario <strong>solo se permiten letras minúsculas, números, guion (-) y guion bajo (_)</strong>.</li>
      <li>Las contraseñas deben tener al menos 6 caracteres.</li>
      <li>Te recomendamos elegir un nombre de usuario fácil de recordar y usar contraseñas seguras y únicas. Almacenamos las contraseñas de forma encriptada y aplicamos todas las medidas de seguridad necesarias, pero usar una contraseña exclusiva ayuda a proteger mejor tu cuenta y tu información personal.</li>
    </ul>
  </section>
</main>
{{end}}
