<div class="table-container">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miércoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
        <th>Sábado</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Subjects }}
      <tr>
        <td>{{ .SubjectName }}</td>
        {{/* Lunes */}}
        {{ if and .Monday.Valid (ne .Monday.String "") }}
        <td>
          <span><small>{{ .Monday.String }}</small></span><br>
          {{ if and .MondayRoom.Valid (ne .MondayRoom.String "") }}
          <span><small>Aula: {{ .MondayRoom.String }}</small></span>
          {{ end }}
        </td>
        {{ else }} 
        <td></td>
        {{ end }}
        {{/* Martes */}}
        {{ if and .Tuesday.Valid (ne .Tuesday.String "") }}
        <td>
          <span><small>{{ .Tuesday.String }}</small></span><br>
          {{ if and .TuesdayRoom.Valid (ne .TuesdayRoom.String "") }}
          <span><small>Aula: {{ .TuesdayRoom.String }}</small></span>
          {{ end }}
        </td>
        {{ else }} 
        <td></td>
        {{ end }}
        {{/* Miércoles */}}
        {{ if and .Wednesday.Valid (ne .Wednesday.String "") }}
        <td>
          <span><small>{{ .Wednesday.String }}</small></span><br>
          {{ if and .WednesdayRoom.Valid (ne .WednesdayRoom.String "") }}
          <span><small>Aula: {{ .WednesdayRoom.String }}</small></span>
          {{ end }}
        </td>
        {{ else }} 
        <td></td>
        {{ end }}
        {{/* Jueves */}}
        {{ if and .Thursday.Valid (ne .Thursday.String "") }}
        <td>
          <span><small>{{ .Thursday.String }}</small></span><br>
          {{ if and .ThursdayRoom.Valid (ne .ThursdayRoom.String "") }}
          <span><small>Aula: {{ .ThursdayRoom.String }}</small></span>
          {{ end }}
        </td>
        {{ else }} 
        <td></td>
        {{ end }}
        {{/* Viernes */}}
        {{ if and .Friday.Valid (ne .Friday.String "") }}
        <td>
          <span><small>{{ .Friday.String }}</small></span><br>
          {{ if and .FridayRoom.Valid (ne .FridayRoom.String "") }}
          <span><small>Aula: {{ .FridayRoom.String }}</small></span>
          {{ end }}
        </td>
        {{ else }} 
        <td></td>
        {{ end }}
        {{/* Sábado */}}
        {{ if and .Saturday.Valid (ne .Saturday.String "") }}
        <td>
          <span><small>{{ .Saturday.String }}</small></span><br>
          {{ if and .SaturdayDates.Valid (ne .SaturdayDates.String "") }}
          <span><small>Fechas: {{ .SaturdayDates.String }}</small></span>
          {{ end }}
        </td>
        {{ else }} 
        <td></td>
        {{ end }}
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
<div class="exam-list">
  {{ if .Subjects }}
  <div class="exam-flex">
    <div class="exam-section">
      <h3>Parcial I</h3>
      {{ range .Subjects }}
      {{ if .Partial1Date.Valid }}
      <article>
        <span><i>{{ .SubjectName }}</i></span>
        <span class="badge-container">
          <span class="date-badge">{{ .Partial1Date.Time.Format "02/01" }}</span>
          {{ if .Partial1Time.Valid }}
          <span class="date-badge">{{ .Partial1Time.String }}hs</span>
          {{ else }}
          <span class="date-badge">Hora pendiente</span>
          {{ end }}
        </span>
        {{ if .Partial1Room.Valid }}
        <div><small>Aula: {{ .Partial1Room.String }}</small></div>
        {{ end }}
      </article>
      {{ end }}
      {{ end }}
    </div>
    <div class="exam-section">
      <h3>Parcial II</h3>
      {{ range .Subjects }}
      {{ if .Partial2Date.Valid }}
      <article>
        <span><i>{{ .SubjectName }}</i></span>
        <span class="badge-container">
          <span class="date-badge">{{ .Partial2Date.Time.Format "02/01" }}</span>
          {{ if .Partial2Time.Valid }}
          <span class="date-badge">{{ .Partial2Time.String }}hs</span>
          {{ else }}
          <span class="date-badge">Hora pendiente</span>
          {{ end }}
        </span>
        {{ if .Partial2Room.Valid }}
        <div><small>Aula: {{ .Partial2Room.String }}</small></div>
        {{ end }}
      </article>
      {{ end }}
      {{ end }}
    </div>
  </div>
  <div class="exam-flex">
    <div class="exam-section">
      <h3>Final I</h3>
      {{ range .Subjects }}
      {{ if .Final1Date.Valid }}
      <article>
        <span><i>{{ .SubjectName }}</i></span>
        <span class="badge-container">
          <span class="date-badge">{{ .Final1Date.Time.Format "02/01" }}</span>
          {{ if .Final1Time.Valid }}
          <span class="date-badge">{{ .Final1Time.String }}hs</span>
          {{ else }}
          <span class="date-badge">Hora pendiente</span>
          {{ end }}
        </span>
        <div><small>
            {{ if .Final1Room.Valid }}
            Aula: {{ .Final1Room.String }}
            <br>
            {{ end }}
            {{ if .Final1RevDate.Valid }}
            <br>
            Revision: {{ .Final1RevDate.Time.Format "02/01/2006" }}
            <br>
            {{ end }}
            {{ if .Final1RevTime.Valid }}
            Hora revision: {{ .Final1RevTime.String }}hs
            {{ end }}
          </small></div>
      </article>
      {{ end }}
      {{ end }}
    </div>
    <div class="exam-section">
      <h3>Final II</h3>
      {{ range .Subjects }}
      {{ if .Final2Date.Valid }}
      <article>
        <span><i>{{ .SubjectName }}</i></span>
        <span class="badge-container">
          <span class="date-badge">{{ .Final2Date.Time.Format "02/01" }}</span>
          {{ if .Final2Time.Valid }}
          <span class="date-badge">{{ .Final2Time.String }}hs</span>
          {{ else }}
          <span class="date-badge">Hora pendiente</span>
          {{ end }}
        </span>
        <div><small>
            {{ if .Final2Room.Valid }}
            Aula: {{ .Final2Room.String }}
            <br>
            {{ end }}
            {{ if .Final2RevDate.Valid }}
            <br>
            Revision: {{ .Final2RevDate.Time.Format "02/01/2006" }}
            <br>
            {{ end }}
            {{ if .Final2RevTime.Valid }}
            Hora revision: {{ .Final2RevTime.String }}hs
            {{ end }}
          </small></div>
      </article>
      {{ end }}
      {{ end }}
    </div>
  </div>
  <form hx-delete="/schedule/{{.SelectedScheduleID}}">
    <small>Quieres eliminar este horario ?</small>
    <button class="btn-delete error" type="submit"><small>Eliminar</small></button>
  </form>
  {{ else }}
  <div class="no-exams">No hay exámenes programados</div>
  {{ end }}
  <style>
    .exam-flex {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }

    .exam-section {
      flex: 1 1 45%;
    }

    .btn-delete {
      margin-left: 4px;
    }

    .date-badge {
      font-size: 0.85rem;
      padding: 0.2em 0.6em;
      border-radius: var(--border-radius);
      margin-right: 0.25em;
      border: 1px solid var(--color-text);
    }

    .badge-container {
      display: inline-block;
      float: right;
      white-space: nowrap;
    }

    @media (max-width: 600px) {
        .exam-flex {
            flex-direction: column;
            gap: 0;
        }
        .exam-section {
            flex: 1 1 100%;
        }
    }
  </style>
</div>
