{{ define "fragments/nav-links" }}

  <a href="/dashboard" class="nav-link flex items-center gap-3 px-4 py-3 rounded-sm
    hover:bg-primary-800 transition-colors">
    <i class="bi bi-speedometer2 text-lg"></i>
    <span>Dashboard</span>
  </a>

  <a href="/guides" class="nav-link flex items-center gap-3 px-4 py-3 rounded-sm
    hover:bg-primary-800 transition-colors">
    <i class="bi bi-book text-lg"></i>
    <span>Guías universitarias</span>
  </a>

  <a href="/tools" class="nav-link flex items-center gap-3 px-4 py-3 rounded-sm
    hover:bg-primary-800 transition-colors">
    <i class="bi bi-tools text-lg"></i>
    <span>Herramientas</span>
  </a>

{{ end }}
