{{define "fragments/navbar_mobile"}}
<!-- Mobile top title con theme toggle -->
<a href="/">
    <div class="md:hidden fixed top-0 left-0 right-0 z-50 bg-gray-900 text-gray-100 border-b
        border-gray-700 shadow-sm px-4 py-1 flex items-center justify-between h-10">
        <div class="flex items-center gap-2">
            <img src="/static/favicon.ico" class="w-5 h-5" alt="Logo">
            <span class="text-base font-semibold">PoliPlanner</span>
        </div>
        {{ template "fragments/theme-toggle" }}
    </div>
</a>

<!-- Mobile bottom nav -->
<nav class="md:hidden fixed bottom-0 left-0 right-0 z-50 bg-gray-900 text-gray-100 border-t border-gray-700 shadow-t h-14">
    <div class="grid grid-cols-3 text-center py-1">
        <a href="/dashboard" class="flex flex-col items-center justify-center text-xs hover:text-white">
            <i class="bi bi-speedometer2 text-xl"></i>
            <span class="mt-0.5">Dashboard</span>
        </a>

        <a href="/guides" class="flex flex-col items-center justify-center text-xs hover:text-white">
            <i class="bi bi-book text-xl"></i>
            <span class="mt-0.5">Guías</span>
        </a>

        <a href="/tools" class="flex flex-col items-center justify-center text-xs hover:text-white">
            <i class="bi bi-tools text-xl"></i>
            <span class="mt-0.5">Herramientas</span>
        </a>
    </div>
</nav>
{{end}}
