{{ define "fragments/sidebar" }}
  <!-- Sidebar desktop -->
  <aside
    class="hidden h-screen md:flex md:flex-col md:w-64 bg-primary-900 text-gray-100 border-r border-gray-800">
    <!-- Header -->
    <div
      class="p-5 border-b border-gray-700 hover:bg-primary-800 transition-colors">
      <div class="flex items-start justify-between">
        <a href="/guides/about">
          <div class="flex items-center gap-3">
            <img src="/static/favicon.ico" class="w-8 h-8" alt="Logo" />
            <span class="text-xl font-semibold">PoliPlanner</span>
          </div>
          <div class="mt-1 text-xs text-gray-400">
            Por estudiantes y para estudiantes
          </div>
        </a>
      </div>
    </div>
    <!-- Navegación más compacta -->
    <nav class="flex-1 px-3 py-4 space-y-1">
      <a
        href="/dashboard"
        class="nav-link flex items-center gap-3 px-4 py-3 rounded-sm hover:bg-primary-800 transition-colors">
        <i class="bi bi-speedometer2 text-lg"></i>
        <span>Dashboard</span>
      </a>
      <a
        href="/guides"
        class="nav-link flex items-center gap-3 px-4 py-3 rounded-sm hover:bg-primary-800 transition-colors">
        <i class="bi bi-book text-lg"></i>
        <span>Guías universitarias</span>
      </a>
      <a
        href="/tools"
        class="nav-link flex items-center gap-3 px-4 py-3 rounded-sm hover:bg-primary-800 transition-colors">
        <i class="bi bi-tools text-lg"></i>
        <span>Herramientas</span>
      </a>
    </nav>
    <!-- Zona inferior -->
    <div class="p-5 border-t border-gray-700 space-y-4">
      <div class="flex justify-center">
        {{ template "fragments/theme-toggle" "theme-toggle-desktop" }}
      </div>
      <div class="text-xs text-gray-400 text-center">
        Parte de la Iniciativa PoliPlanner
      </div>
    </div>
  </aside>
{{ end }}
