@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuerza escaneo de tus templates Go */
@source "./web/templates/**/*.html";
@source "./web/templates/**/*.tmpl";
@source "./web/templates/**/*.gohtml";
@source "./web/templates/**/*.gotmpl";

@theme {
  --color-primary-50:  #f4f7fb;
  --color-primary-100: #e6edf5;
  --color-primary-200: #cddaea;
  --color-primary-300: #a9c1da;
  --color-primary-400: #7fa3c4;
  --color-primary-500: #557fab;
  --color-primary-600: #3f638a;
  --color-primary-700: #2f4c6d;
  --color-primary-800: #1f3550;
  --color-primary-900: #142536;
}

.htmx-request {
    display: flex;
}

.htmx-indicator {
    display: hidden;
}
