{{define "content"}}
<main>
  <h1>Herramientas</h1>
  <p>
    Accede a distintas herramientas pensadas para ayudarte a obtener información
    académica de forma rápida y simple, sin necesidad de iniciar sesión ni
    configurar nada.
  </p>
  <section>
    <h2>Herramientas disponibles</h2>
    <ul>
      <li>
        <a href="/misc/calculator">Calculadora de notas</a>
        <br>
        <small>
          Nuestro Policalc integrado. Calcula tus calificaciones finales y la escala de notas a partir de tu promedio ponderado
          o usando las notas de parciales y trabajos prácticos.
        </small>
      </li>
      <li>
        <a href="/subject">Buscar una materia</a>
        <br>
        <small>
          Consulta información detallada de una materia específica, como
          departamento, semestre y sección, sin necesidad de crear un horario
          ni iniciar sesión.
        </small>
      </li>
    </ul>
  </section>
</main>
{{end}}
