{{define "content"}}
<main>
  <h1>Herramientas</h1>
  <p>
    Busca informacion de una materia en especifico de manera rapido asi no tienes
    que crear un nuevo horario para saber esta informacion. Ademas de que no
    requiere de loggeo.
  </p>
  <section>
    <h2>Herramientas disponibles</h2>
    <ul>
      <li>
        <a href="/misc/calculator">Calculadora de notas</a>
        <br>
        <small>
          Calcula tus notas segun tu promedio ponderado, o calcula tus notas con el
          promedio de tus parciales y trabajos practicos.
        </small>
      </li>
      <li>
        <a href="/subject">Buscar una materia</a>
        <br>
        <small>
          Busca informacion de una materia en especifico de manera rapido asi no tienes
          que crear un nuevo horario para saber esta informacion. Ademas de que no
          requiere de loggeo.
        </small>
      </li>
    </ul>
  </section>
</main>
{{end}}
